{% extends "default.html" %}

{% block content %}
    <h2>News</h2>
    <ul>
        {% for item in news %}
            <li>
                <a href="{% url 'news_detail' item.pk %}">{{ item.title|censor }}</a> - {{ item.publication_date|date:"d.m.Y" }} - {{ item.content|slice:":20" }}...
            </li>
        {% endfor %}
    </ul>
{% endblock %}
# дополнение от задания  D7.7. Итоговый проект
{% for news in page_obj %}
    <h2>{{ news.title }}</h2>
    <!-- Выводите другие детали новости здесь -->
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>